/* start variables*/
:root {
  --main-color: #10cab7;
  --scnd-color: #2c4755;
  --thrd-color: #777;
  --sction-padding: 60px;
  --sctoin-background: #f6f6f6;
  --sction-line-height: 1.6;
}

/* end variables*/
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Larges */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

/* start component */
.spechial-heading {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}
.spechial-heading + p {
  margin: -30px 0 0;
  font-size: 20px;
  text-align: center;
  color: #797979;
}
@media (max-width: 767px) {
  .spechial-heading {
    font-size: 70px;
  }
  .spechial-heading + p {
    margin: -20px 0 0;
    font-size: 15px; /* edit */
  }
}
/* end component */

/* Start header */
.header {
  padding: 20px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 60px;
}
.header .links {
  position: relative;
}
.header .links:hover .icon span:nth-child(2) {
  width: 100%;
}
.header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.header .links .icon span {
  background-color: #333;
  margin-bottom: 5px;
  height: 2.2px; /* edit */
  transition: 0.3s;
}
.header .links .icon span:first-child {
  width: 100%;
}
.header .links .icon span:nth-child(2) {
  width: 60%;
}
.header .links .icon span:last-child {
  width: 100%;
}
.header .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0px;
  background-color: var(--sctoin-background);
  min-width: 200px;
  top: calc(100% + 12px); /*edit*/
  display: none;
  z-index: 1;
}
.header .links:hover ul {
  display: block;
}
.header .links ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent var(--sctoin-background) transparent;
  position: absolute;
  right: 5px; /*edit*/
  top: -20px; /*edit*/
}
.header .links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
  transition: 0.3s;
}
.header .links ul li a:hover {
  padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}
/* End header */

/* start landing section */
.landing {
  background-image: url("../uploaded_img/landing.jpg");
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
}
.landing .intro-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 320px;
  max-width: 100%;
}
.landing .intro-text h1 {
  margin: 0;
  font-weight: bold;
  font-size: 50px;
  color: var(--main-color);
}
@media (min-width: 1200px) {
  .landing .intro-text h1 {
    font-weight: bold;
    width: 445px;
    font-size: 80px;
  }
}
.landing .intro-text p {
  font-size: 19px;
  line-height: var(--sction-line-height + 0.2);
}
/* end landing section */

/* start features */
.features {
  padding-top: var(--sction-padding);
  padding-bottom: var(--sction-padding);
  background-color: var(--sctoin-background);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}
.features .feat {
  padding: 20px;
  text-align: center;
}
.features .feat i {
  color: var(--main-color);
  font-size: 50px;
  transition: 0.4s;
}

.features .feat i:hover {
  transform: rotate(360deg);
}
.features .feat h3 {
  /*----->>>>> edit*/
  font-weight: 800px;
  margin: 30px 0;
}
.features .feat p {
  /*----->>>>> edit*/
  line-height: calc(var(--sction-line-height) + 0.2);
  color: var(--thrd-color);
  font-size: 17px;
}
/* end features */

/* start services */
.services {
  padding-top: var(--sction-padding);
  padding-bottom: var(--sction-padding);
}
.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 100px;
}
.services .services-content .srv {
  display: flex;
  margin-bottom: 40px;
}
.services .services-content .srv i {
  color: var(--main-color);
  flex-basis: 70px;
  font-size: 40px;
  transition: 0.3s;
}
@media (min-width: 767px) {
  .services .services-content .srv i:hover {
    transform: scale(1.2);
  }
}

.services .services-content .srv .text {
  flex: 1;
}
.services .services-content .srv .text a h3 {
  margin: 0 0 20px;
}
.services .services-content .srv .text a {
  text-decoration: none;
  color: black;
}
.services .services-content .srv .text p {
  font-weight: 300;
  color: #444;
  line-height: var(--sction-line-height);
}
@media (max-width: 767px) {
  .services .services-content .srv {
    flex-direction: column;
    text-align: center;
  }
}
.services .services-content .image {
  text-align: center;
  position: relative;
}
.services .services-content .image img {
  width: 260px;
}
.services .services-content .image::before {
  content: "";
  right: 0;
  background-color: var(--scnd-color);
  width: 100px;
  height: calc(100% + 100px);
  position: absolute;
  top: -50px;
  z-index: -1;
}
@media (max-width: 1199px) {
  .image-show {
    display: none;
  }
}
/* end services */
/* start portfolio */
.portfolio {
  padding-top: var(--sction-padding);
  padding-bottom: var(--sction-padding);
  background-color: var(--sctoin-background);
}
.portfolio .portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 80px;
}
.portfolio .portfolio-content .card {
  background-color: white;
  transition: 0.3s;
}

@media (min-width: 677px) {
  .portfolio .portfolio-content .card:hover {
    transform: scale(1.1);
  }
}
.portfolio .portfolio-content .card img {
  max-width: 100%;
}
.portfolio .portfolio-content .card .info {
  padding: 20px;
}
.portfolio .portfolio-content .card .info h3 {
  margin: 0;
}
.portfolio .portfolio-content .card .info h2 {
  margin: 0;
  text-align: center;
}
.portfolio .portfolio-content .card .info p {
  color: var(--thrd-color);
  line-height: var(--sction-line-height);
  margin-bottom: 0;
}
/* end portfolio */

/* start about */
.about {
  padding-top: var(--sction-padding);
  padding-bottom: calc(var(--sction-padding) + 60px);
  background-color: var(--sctoin-background);
}
.about .about-content {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .about .about-content {
    flex-direction: column;
    text-align: center;
  }
}
.about .about-content .image {
  position: relative;
  width: 250px;
  height: 375px;
  z-index: 1;
}
@media (max-width: 991px) {
  .about .about-content .image {
    margin: 0 auto 60px;
  }
}
.about .about-content .image::before {
  content: "";
  position: absolute;
  background-color: #ffffff;
  width: 100px;
  height: calc(100% + 80px);
  top: -40px;
  left: -20px;
  z-index: -1;
}
.about .about-content .image::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 300px;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  z-index: -1;
  right: -150px;
  top: -40px;
}
@media (max-width: 700px) {
  /*edit*/
  .about .about-content .image::before,
  .about .about-content .image::after {
    display: none;
  }
}
.about .about-content .image img {
  max-width: 100%;
}
.about .about-content .text {
  flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type {
  font-weight: bold;
  line-height: calc(var(--sction-line-height) + 0.4);
  margin-bottom: 50px;
}
.about .about-content .text hr {
  width: 50%;
  display: inline-block;
  border-color: var(--main-color);
}
.about .about-content .text p:last-of-type {
  line-height: calc(var(--sction-line-height) + 0.4);
  color: var(--thrd-color);
}
/* end about */

/* start contant */
.contact {
  padding-top: var(--sction-padding);
  padding-bottom: var(--sction-padding);
}
.contact .info {
  padding-top: var(--sction-padding);
  padding-bottom: var(--sction-padding);
  text-align: center;
}
.contact .info .label {
  font-size: 35px;
  font-weight: 800;
  color: var(--scnd-color);
  margin-bottom: 15px;
}
.contact .info .link {
  display: block;
  font-size: 35px;
  font-weight: 800;
  color: var(--main-color);
  text-decoration: none;
}
.contact .info .social {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 16px;
}
.contact .info .social i {
  margin-left: 10px;
  color: var(--scnd-color);
}
.contact .info .social i:hover {
  color: var(--main-color);
}
@media (max-width: 767px) {
  .contact .info .label,
  .contact .info .link {
    font-size: 25px;
  }
}
/* end contant */

/* start footer */
.footer {
  background-color: var(--scnd-color);
  color: white;
  padding: 30px 10px;
  text-align: center;
  font-size: 18px;
}
.footer p span {
  font-weight: bold;
  color: var(--main-color);
}
.footer .name:hover {
  color: #ebeced;
}
/* end footer */
.hijj {
  background-color: #ebeced;
}
.text_hijj {
  color: #ffffff;
}
.portfolio .portfolio-content .supp {
  background-color: #2c4755;
  border-radius: 5px;
}
.portfolio .portfolio-content .supp .info p {
  color: #f6f6f6;
}
.portfolio .portfolio-content .cardbac {
  background-color: #f6f6f6;
}
